<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Bittracker | SignUp
    </title>
    <style>
       .errorlist{
      color: Red;
      font-size: 12px;
      font-weight: bold;
     
    }

    .error{
      color: red;
      font-size: 12px;
      font-weight: bold;
    
    }

    center{
      padding-bottom: 5px;
    }
    </style>
    <link rel="icon" type="image/x-icon" href="{% static 'home_app/images/favicon-32x32.png' %}">
    <!-- <link rel="stylesheet" href="{% static 'reg_login/css/normalize.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'reg_login/css/signup_login.css' %}" />
  </head>
  <body>
    <div class="bg_form">
        <form class="form_container" method="POST" novalidate>
          {% csrf_token %}
          <h2>join us now!</h2>

         {% for fm in form %}
          <div class="txt_field" >
            {{fm}}
            <label>{{fm.label}}</label>
          </div> 
          <center><span class="error">{{fm.errors|striptags}}</span></center>
          {% endfor %}
        
          {% for message in messages %}
          <p class="errorlist">
          {{message}} 
          </p>
          {% endfor %}
      
          <input type="submit" value="sign up" class="form_sighup_btn"/>
          <div class="form_login_btn">have an existing account? <a href="{% url 'login' %}">login</a></div>
        </form>
    </div>
  </body>
</html>
