<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="description" content="habit tracker" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./style/normalize.css" />
    <link rel="stylesheet" href="./style/style.css" />
    <script
      src="https://kit.fontawesome.com/82f23d236c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="" />
    <script defer src="activePage.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="sidebar">
        <ul class="sidebar-can">
          <li>
            <a class="sidebar-item home" href="index.html"
              ><i class="fa-solid fa-house"></i>home</a
            >
          </li>
          <li>
            <a class="sidebar-item explore" href="explore.html"
              ><i class="fa-solid fa-compass"></i>explore</a
            >
          </li>
          <li>
            <a class="sidebar-item habit" href="habits.html"
              ><i class="fa-solid fa-brain"></i>habits</a
            >
          </li>
          <li>
            <a class="sidebar-item my post" href="mypost.html"
              ><i class="fa-solid fa-pen"></i>my post</a
            >
          </li>
          <li>
            <a class="sidebar-item achievements" href="achivements.html"
              ><i class="fa-solid fa-star"></i>achievements</a
            >
          </li>
          <li>
            <a class="sidebar-item web usage" href="webusege.html"
              ><i class="fa-solid fa-chart-simple"></i>web usage</a
            >
          </li>
        </ul>
      </nav>