{% extends 'home_app/base.html' %}
{% load static %}

{% block style %}
<link rel="icon" type="image/x-icon" href="{% static 'home_app/images/favicon-32x32.png' %}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
/>
<script
  src="https://kit.fontawesome.com/82f23d236c.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="" />
<script defer src="{% static 'home_app/js/activePage.js' %}"></script>
<link rel="stylesheet" href="{% static 'reg_login/css/signup_login.css' %}" />


<style>
  .sleec{
    width: 300px;
    padding: 10px;
    
  }

  .errorlist{
      color: Red;
      font-size: 12px;
      font-weight: bold;
     
    }

    .error{
      color: red;
      font-size: 12px;
      font-weight: bold;
    
    }

    center{
      padding-bottom: 5px;
    }
</style>

{% endblock %}
<head>
  <title>
    Bittracker | Add Habit
  </title>
</head>
{% block new %}


<div class="form">
  <form 
    action="{% url 'addhabit' %}"
    method="post"
    class="form_container"
   novalidate
  >
  <h2>Add New Habit</h2>
    {% csrf_token %} 
     {% for fm in form %}
    <div class="txt_field" >
      {{fm}}
      <label>{{fm.label}}</label>
    </div> 
    
    <center><span class="error">{{fm.errors|striptags}}</span></center>
    {% endfor %}
    
    <!-- {% for message in messages %}
    <p class="errorlist">
    {{message}} 
    </p>
    {% endfor %}
    -->
    
    <input type="submit" value="Add Habit" class="form_sighup_btn"/>


</form>

</div>
{% endblock %}